<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-2">
        <div class="pull-right">
          <button class="btn btn-primary" [routerLink]="ui.createBlog()">Add</button>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Blogs List</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>CreatedBy</th>
                  <th>ApproveBy</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of listData | paginate: { id: 'listId',itemsPerPage: paginationObject['limit'], currentPage: paginationObject['page'], totalItems:totalCount}; let i = index">
                  <td>{{item.title}}</td>
                  <td>{{item.categoryTitle}}
                  </td>
                  <td>{{item.createdName}}</td>
                  <td> {{item.approveName}}</td>
                  <td>
                    <div class="d-flex justify-content-between action-icons">
                      <fa-icon [icon]="fontData.active" *ngIf="item.isActive"></fa-icon>
                      <fa-icon [icon]="fontData.inActive" *ngIf="!item.isActive"></fa-icon>
                      <fa-icon [icon]="fontData.edit" [routerLink]="ui.editBlog(item._id)"></fa-icon>
                      <fa-icon [icon]="fontData.delete" (click)="open(contentDelete,item)"></fa-icon>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-panel d-flex justify-content-right flex-wrap">
            <pagination-controls id="listId" (pageChange)="changePage($event)"></pagination-controls>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.content -->

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Blog deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"{{selectedData['title']}}"</span> blog?</strong></p>
    <p>All information associated to this blog will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteBlog()">Ok</button>
  </div>
</ng-template>