<form [formGroup]="createUpdateEvent" autocomplete="off">
    <div class="form-group">
        <label for="title">Event Name</label>
        <input type="text" class="form-control" formControlName="title" id="title">
    </div>
    <div class="form-group">
        <label for="categoryId">Event category</label>
        <select class="form-control" formControlName="categoryId" id="categoryId">
            <option *ngFor="let item of allEventCategories" [value]="item._id">{{item.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <angular-editor formControlName="description" [config]="editorConfig" id="description"></angular-editor>
    </div>
    <div class="form-group">
        <label for="description">Start Date & Time</label>
        <date-time [systemConf]="startTimeConfig" (timeUtc)="onTimeSelection($event, 'startDateTime')">
        </date-time>
    </div>
    <div class="form-group">
        <label for="description">End Date & Time</label>
        <date-time [systemConf]="startTimeConfig" (timeUtc)="onTimeSelection($event, 'endDateTime')">
        </date-time>
    </div>
    <div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isFeatured">
            <label class="form-check-label">Featured</label>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Event Sponsors</label>
        <div class="file-select-input">
            <input [formControl]="sponsorDoc" type="file" class="" multiple
                (change)="uploadDocument($event,'sponsorDoc')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 product-image-thumbs" *ngFor="let item of uploadedSponsorDocument">
            <div class="product-image-thumb">
                <img [src]="item['uploadLink']" class="img-fluid" alt="{{item['fileName']}}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Upload Event Images</label>
        <div class="file-select-input">
            <input [formControl]="mediaDoc" type="file" class="" multiple
                (change)="uploadDocument($event,'mediaDoc')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 product-image-thumbs" *ngFor="let item of uploadedDocument">
            <div class="product-image-thumb">
                <img [src]="item['uploadLink']" class="img-fluid" alt="{{item['fileName']}}">
            </div>
        </div>
    </div>
    <div class="input-group" formArrayName="galleryVideos">
        <label for="tags">Upload Event videos</label>
        <div class="input-group mb-3" *ngFor="let tags of galleryVideosList['controls'];let tagIndex = index" [formGroupName]="tagIndex">
            <input type="text" class="form-control rounded-0" id="tags" [formControl]="galleryVideosList['controls'][tagIndex]" /> 
            <span class="input-group-append">
                <button type="button" class="btn btn-info btn-flat" *ngIf="tagIndex === galleryVideosList.length - 1"
                    (click)="addTags()">+</button>
                <button type="button" class="btn btn-info btn-flat" *ngIf="galleryVideosList.length - 1 !== 0"
                    (click)="removeTags(tagIndex)">-</button>
            </span>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="resetEvent()">Clear</button>
    <button class="btn btn-primary" type="submit" (click)="saveEvent()">Save</button>
</form>