<!-- <form [formGroup]="utcDateAndTime" autocomplete="off">
    <div class="row" id="mat-date-picker">
        <div [ngClass]="customClass" id="order-datepicker"
            *ngIf="SystemConf['visible'] === 'DATE' || SystemConf['visible'] === 'BOTH'">
            <div class=""
                [ngClass]="SystemConf['dateLabel']==='End Date' ? 'date-picker-panel enddate-cal' : 'date-picker-panel' ">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="pickupDate" ngbDatepicker
                        [minDate]="minimumDate" [maxDate]="maximumDate" #pickupDate="ngbDatepicker"
                        [startDate]="startDate ? startDate : null" formControlName="date"
                        (blur)="onDateSelection($event)" (dateSelect)="onDateSelection($event)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="pickupDate.toggle()"
                            type="button"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex">
                            <ngb-timepicker formControlName="time" class="mt-5"
                                [readonlyInputs]="!utcDateAndTime.controls['date'].valid" [meridian]="true"
                                [seconds]="false" [spinners]="false">
                            </ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> -->