/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.workShop_sidebar {
    position: fixed;
    height: calc(100vh - (1rem - 16px));
    overflow-y: scroll;
    width: 250px;
}

.workShopMiniSidebar {
    position: fixed;
    height: calc(100vh - (1rem - 16px));
    overflow-y: scroll;
    width: 70px;
}
.wrapper .content-wrapper,
.wrapper .content-wrapper70{
    min-height: calc(100vh - (4rem - 1px));
}

.content-wrapper70 {
    margin-left: 70px;
}

.clickAbleDiv{
    padding: 10px 10px 10px 0;
    cursor: pointer;
    color: inherit;
}
.main-sidebar70{
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 70px;
}

#workshop .pull-right{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
#workshop .pull-left{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
@media (min-width: 768px){
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav).content-wrapper, 
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, 
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 250px !important;
    }
}
@media (max-width: 991.98px){
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-left: 250px;
    }
}

.justify-content-right{
    justify-content: right !important;
}
.action-icons fa-icon{
    color: #2199e8;
    cursor: pointer;
}